/* style.css */

body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    background-color: #ffffff;
    font-weight: 400; 
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

header {
  padding: 40px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-block {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; 
  margin-right: 10px;
}

.logo-text {
  font-size: 44px; 
  color: #292929;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto; /* Push links to the right */
}

.nav-links li {
  margin-left: 48px;
}

.nav-links a {
  color: #292929;
  font-size: 16px; 
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none; 
}

.ai-link a {
  text-decoration: underline; 
}

.user {
  display: flex;
  align-items: center;
  margin-left: 48px; /* Add spacing between links and user */
}

.user span {
  margin-right: 10px;
  color: #292929;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.user img {
  height: 40px;
}

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 80px;
  font-weight: bold;
}

.hero-content {
  flex: 1;
  margin-right: 120px; 
}

.hero h1 {
  font-size: 80px;
  line-height: 87px;
  margin-bottom: 12px;
  color: #292929;
}

.hero p {
  font-size: 20px;
  line-height: 29px;
  color: #292929;
  margin-bottom: 32px;
  max-width: 521px; 
}

.btn {
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
  background-color: #292929;
  color: #fff;
  padding: 18px 152px; 
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  line-height: 20px;
}

.btn svg {
  margin-right: 12px;
}

.slider {
  position: relative;
  width: 440px;
  height: 500px; 
  border-radius: 30px; 
  margin-top: 40px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;

}


.prev {
  left: 20px;
}

.next {
  right: 20px; 
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; 
  color: #fff;
  padding: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev svg,
.next svg {
  width: 32px;
  height: 32px;
}

.project-info {
  margin-top: 20px;
  text-align: left;
}

.question-icon {
  width: 16px;
  height: 16px; 
  vertical-align: middle;
  margin-left: 5px;
}

.project-info a {
  text-decoration: underline;
  color: #292929;
  font-size: 18px;
  line-height: 20px;
}

/* Project Description */

.project-section {
  margin-top: 140px; 
  font-size: 18px;
}

.project-title {
  text-align: center;
  margin-bottom: 40px; 
}

.separator {
  width: 360px;
  height: 2px;
  background-color: #292929;
  border: none;
  margin: 0 auto 80px auto; /* Centered, larger bottom margin */
}

.content-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; 
}

.description-content {
  text-align: left;
  flex: 1 0 50%; 
  max-width: 520px;
  margin-right: 160px; /* Increased margin from 80px to 160px */
}

.ai-features {
  flex: 1 0 30%; /* Widget takes ~30% of the width */
  border: 4px solid #292929; /* Thick dark border */
  padding: 30px;
  border-radius: 20px; 
}

.ai-features ul {
  list-style: none; /* Remove list markers */
  padding: 0; 
  margin: 0; 
}

.ai-features li {
  margin-bottom: 20px; 
}

.ai-features h4 {
  margin-bottom: 5px; /* Reduce margin between title and description */
}


/* Footer */

footer {
  background-color: #292929;
  padding: 30px 30px; /* Adjusted padding for better visual appeal */
  margin: 100px auto 20px; /* Auto margin for horizontal centering, bottom margin added */
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.4); /* Increased shadow for levitation */
  border-radius: 25px; /* Creates the pill shape */
  max-width: 800px; /* Optional: Limits the footer width if needed */
  max-height: 40px;
  text-align: center; /* Center the copyright text */
}

.copyright {
  text-align: center;
  color: #f3f3f3;
  font-size: 14px;
  line-height: 17px;
}